<div class="wrapper">
  <div class="main-content-wrapper">
    <div *ngIf="successIsShown" class="success-msg">
      <i class="fa fa-check"></i>
      {{ successMessage }}
    </div>
    <div *ngIf="errorIsShown" class="error-msg">
      <i class="fa fa-times-circle"></i>
      {{ errorMessage }}
    </div>
    <div class="content-top mt-2">
      <div class="total-candidates">
        <div class="total-number-text">Total Number of Students :&nbsp;<b>{{ total_candidates }}</b></div>
      </div>
      <div class="total-users">
        <div class="total-number-text">Total Number of Admins :&nbsp;<b>{{ numberOfUsers }}</b></div>
      </div>
    </div>
    <span class="up" (click)="changeUpload()">{{ uploadChanger }}</span>
    <div *ngIf="total_users!=0">
    <div class="content-right" *ngIf="uploadUsers">
      <hr>
      <input #myInput type="file" accept=".csv" (change)="onSelect($event)">
      <hr>
      <button class="uploadFile" (click)="onClick()">
        Upload
      </button>
    </div>
    </div>

    <table mat-table [dataSource]="dataSource" *ngIf="!uploadUsers">
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let student">{{ student.first_name }}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let student">{{ student.last_name }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let student">{{ student.email }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>User Role</th>
        <td mat-cell *matCellDef="let student">
          <div *ngIf="!student.role; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>student</ng-template>
          <ng-template #elseBlock>admin</ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
