.main-form {
  background-color: #ffffff;
  padding: 45px;
  border: 2px solid lightgray;
}

.custom-dropzone {
  width: 100%;
  height: 200px;
	background:#ACBFC4;
	color: #fff;
	border: 2px dashed #fff;
	border-radius: 5px;
  margin: 20px 100px 20px 0px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}

.content-right{
  width: 100%;
}


.button-div button {
  border-radius: 100px;
  position: relative;
  left: -13px;
}

.question-label h2{
  color: rgb(19, 107, 107);;
}

.question-label{
margin-bottom: 20px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #c97676;
}
.nav-tabs .nav-link {
  color: #6c757d;
}
.form-group label {
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .main-content-wrapper{
    max-width: 100%;
  }
}

.main-content-wrapper{
  margin-left: 220px; 
}

.wrapper{
  max-width:100%;
  margin-left: 50px;
  margin-top: 80px;
  margin-right: 50px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.radio{
  margin-top: 1em;
  height: 20px;
  width: 20px;
}

.validanswer{
  margin-top: 2em;
  line-height: 50px;
}
.ans{
  color: teal;
  font-weight: bold;
  font-size: 15pt;
}

div button{
  margin: 0;
  color: rgb(19, 107, 107);;
  background: #fff;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border: 2px solid rgb(19, 107, 107);
  transition: all .2s ease;
  outline: none;
  font-size: 12pt;
}
div button:hover{
  color: #fff;
  background: rgb(19, 107, 107);
  border: 2px solid #fff;
}
div button:active{
  border:0;
} 
