<div class="wrapper">
  <div class="main-content-wrapper">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink><h5>Multiple Choice Test</h5></a>
      <ng-template ngbNavContent>
            <div class="alert alert-primary" role="alert" *ngIf="uploadMessage!=''">
              {{ uploadMessage }}
             </div>
             <div class="alert alert-danger" role="alert" *ngIf="notEmpty">
              All fields are required!
             </div>
             <div class="alert alert-warning" role="alert" *ngIf="exist">
              Exam Title already exist!
             </div>
             <div class="alert alert-success" role="alert" *ngIf="success">
              Successful added!
             </div>
             <span class="up" (click)="changeUpload()">{{ uploadChanger }}</span>
             <div class="content-right mb-5" *ngIf="uploadQuestion">
              <div class="form-group">
                <label class="text-info">Select Test</label>
                <select [(ngModel)]="uploadTestID" class="form-control" id="exampleFormControlSelect1">
                  <option [value]="0" >Select Test</option>
                  <ng-container *ngFor="let i of test" >
                    <ng-container  *ngIf="i.questions_type === 'MC'">
                      <option [value]="i.test_id" >{{i.test_title}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
                    <div
                      class="custom-dropzone"
                      ngx-dropzone
                      (change)="onSelect($event)"
                    >
                      <ngx-dropzone-label>
                        <div class="caption">
                          <h2>Upload Questions (CSV file format)</h2>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                      >
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div>
                    <button class="uploadFile" (click)="onMCClick()">
                      {{ upload }}
                    </button>
                  </div>
                <div class="content-right mb-5" *ngIf="!uploadQuestion"> 
                <form >
                  <div class="form-group">
                    <label class="text-info">Select Test</label>
                    <select
                      [formControl]="dropdown"
                      class="form-control form-control-lg"
                      id="exampleFormControlSelect1"
                      (input)="clear()"
                    >
                    <option [value]="0" >Select Test</option>
                    <ng-container *ngFor="let i of test" >
                      <ng-container  *ngIf="i.questions_type === 'MC'">
                        <option [value]="i.test_id" >{{i.test_title}}</option>
                      </ng-container>
                    </ng-container>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="text-info">Type Question</label>
                    <pre><textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="name" [(ngModel)]="question" (input)="clear()"></textarea></pre>
                  </div>
                  <!-- First row multiple choice -->
                  <div class="row mt-2">
                    <div class="form-group col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="option 1"
                        name="option1"
                        [(ngModel)]="option1"
                        (input)="clear()"
                      />
                    </div>
                    <!-- radio -->
                    <div class="form-group col-sm-1">
                      <input
                        type="radio"
                        class="radio"
                        name="validAnswer"
                        [(ngModel)]="validAnswer"
                        value="{{ option1 }}"
                        (input)="clear()"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="option 2"
                        name="option2"
                        [(ngModel)]="option2"
                        (input)="clear()"
                      />
                    </div>
                    <!-- radio -->
                    <div class="form-group col-sm-1">
                      <input
                        type="radio"
                        class="radio"
                        name="validAnswer"
                        [(ngModel)]="validAnswer"
                        value="{{ option2 }}"
                        (input)="clear()"
                      />
                    </div>
                  </div>

                  <!-- Second row multiple choice -->
                  <div class="row mt-2">
                    <div class="form-group col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="option 3"
                        name="option3"
                        [(ngModel)]="option3"
                        (input)="clear()"
                      />
                    </div>
                    <!-- radio -->
                    <div class="form-group col-sm-1">
                      <input
                        type="radio"
                        class="radio"
                        name="validAnswer"
                        [(ngModel)]="validAnswer"
                        value="{{ option3 }}"
                        (input)="clear()"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="option 4"
                        name="option4"
                        [(ngModel)]="option4"
                        (input)="clear()"
                      />
                    </div>
                    
                    <!-- radio -->
                    <div class="form-group col-sm-1">
                      <input
                        type="radio"
                        class="radio"
                        name="validAnswer"
                        [(ngModel)]="validAnswer"
                        value="{{ option4 }}"
                        (input)="clear()"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <input
                      style="background-color: rgb(218, 233, 187);"
                        type="number"
                        class="form-control form-control-lg"
                        placeholder="Mark"
                        name="option4"
                        [(ngModel)]="mark"
                        (input)="clear()"
                      />
                    </div>
                    <div class="form-group col-sm-4">
                      <span class="validanswer">Valid Answer:
                        <span class="ans">{{ validAnswer }}</span>
                      </span >
                    </div>
                  </div>
                  <div class="row mt-2 col-sm-8">
                    <div class="mt-2 button-div col-sm-5">
                      <button type="button" class="btn btn-info btn-lg btn-block" (click)="addMCQuestion()">
                        {{ submit }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </ng-template>
    </li>
    <li [ngbNavItem]="2">
          <a ngbNavLink><h5>Essay Test</h5></a>
          <ng-template ngbNavContent>
            <div class="alert alert-primary" role="alert" *ngIf="uploadMessage!=''">
              {{ uploadMessage }}
             </div>
             <div class="alert alert-danger" role="alert" *ngIf="notEmpty">
              All fields are required!
             </div>
             <div class="alert alert-warning" role="alert" *ngIf="exist">
              Exam Title already exist!
             </div>
             <div class="alert alert-success" role="alert" *ngIf="success">
              Successful added!
             </div>
             <span class="up" (click)="changeUpload()">{{ uploadChanger }}</span>
             <div class="content-right mb-5" *ngIf="uploadQuestion">
              <div class="form-group">
                <label class="text-info">Select Test</label>
                <select [(ngModel)]="uploadTestID" class="form-control" id="exampleFormControlSelect1">
                  <option [value]="0" >Select Test</option>
                  <ng-container *ngFor="let i of test" >
                    <ng-container  *ngIf="i.questions_type === 'E'">
                      <option [value]="i.test_id" >{{i.test_title}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
                    <div
                      class="custom-dropzone"
                      ngx-dropzone
                      (change)="onSelect($event)"
                    >
                      <ngx-dropzone-label>
                        <div class="caption">
                          <h2>Upload Questions (CSV file format)</h2>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                      >
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div>
                    <button class="uploadFile" (click)="onEClick()">
                      {{ upload }}
                    </button>
                  </div>
                <div class="content-right mb-5" *ngIf="!uploadQuestion"> 
                <form >
                  <div class="form-group">
                    <label class="text-info">Select Test</label>
                    <select
                      [formControl]="dropdown"
                      class="form-control form-control-lg"
                      id="exampleFormControlSelect1"
                      (input)="clear()"
                    >
                      <option [value]="0" >Select Test</option>
                      <ng-container *ngFor="let i of test" >
                        <ng-container  *ngIf="i.questions_type === 'E'">
                          <option [value]="i.test_id" >{{i.test_title}}</option>
                        </ng-container>
                      </ng-container>

                    </select>
                  </div>
                  <div class="form-group">
                    <label class="text-info">Type Question</label>
                    <pre><textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="name" [(ngModel)]="question" (input)="clear()"></textarea></pre>
                  </div>
                  <div class="form-group col-sm-4 mb-5 mt-2">
                    <input
                    style="background-color: rgb(218, 233, 187);"
                      type="number"
                      class="form-control form-control-lg"
                      placeholder="Mark"
                      name="option4"
                      [(ngModel)]="mark"
                      (input)="clear()"
                    />
                  </div>
                  <div class="row mt-2 col-sm-8">
                    <div class="mt-2 button-div col-sm-5">
                      <button type="button" class="btn btn-info btn-lg btn-block" (click)="addEQuestion()">
                        {{ submit }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </ng-template>
    </li>
    <li [ngbNavItem]="3">
          <a ngbNavLink><h5>Code Snippet</h5></a>
          <ng-template ngbNavContent>
            <div class="alert alert-primary" role="alert" *ngIf="uploadMessage!=''">
              {{ uploadMessage }}
             </div>
             <div class="alert alert-danger" role="alert" *ngIf="notEmpty">
              All fields are required!
             </div>
             <div class="alert alert-warning" role="alert" *ngIf="exist">
              Exam Title already exist!
             </div>
             <div class="alert alert-success" role="alert" *ngIf="success">
              Successful added!
             </div>
             <span class="up" (click)="changeUpload()">{{ uploadChanger }}</span>
             <div class="content-right mb-5" *ngIf="uploadQuestion">
              <div class="form-group">
                <label class="text-info">Select Test</label>
                <select [(ngModel)]="uploadTestID" class="form-control" id="exampleFormControlSelect1">
                  <option [value]="0" >Select Test</option>
                  <ng-container *ngFor="let i of test" >
                    <ng-container  *ngIf="i.questions_type === 'CS'">
                      <option [value]="i.test_id" >{{i.test_title}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
                    <div
                      class="custom-dropzone"
                      ngx-dropzone
                      (change)="onSelect($event)"
                    >
                      <ngx-dropzone-label>
                        <div class="caption">
                          <h2>Upload Questions (CSV file format)</h2>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-image-preview
                        ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files"
                        [file]="f"
                        [removable]="true"
                        (removed)="onRemove(f)"
                      >
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                    </div>
                    <button class="uploadFile" (click)="onCSClick()">
                      {{ upload }}
                    </button>
                  </div>
                <div class="content-right mb-5" *ngIf="!uploadQuestion"> 
                <form >
                  <div class="form-group">
                    <label class="text-info">Select Test</label>
                    <select
                      [formControl]="dropdown"
                      class="form-control form-control-lg"
                      id="exampleFormControlSelect1"
                      (input)="clear()"
                    >
                    <option [value]="0" >Select Test</option>
                    <ng-container *ngFor="let i of test" >
                      <ng-container  *ngIf="i.questions_type === 'CS'">
                        <option [value]="i.test_id" >{{i.test_title}}</option>
                      </ng-container>
                    </ng-container>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="text-info">Insert Code Snippet</label>
                    <pre><textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="name" [(ngModel)]="question" (input)="clear()"></textarea></pre>
                  </div>
                  <div class="form-group col-sm-4 mb-5 mt-2">
                    <input
                    style="background-color: rgb(218, 233, 187);"
                      type="number"
                      class="form-control form-control-lg"
                      placeholder="Mark"
                      name="option4"
                      [(ngModel)]="mark"
                      (input)="clear()"
                    />
                  </div>
                  <div class="row mt-2 col-sm-8">
                    <div class="mt-2 button-div col-sm-5">
                      <button type="button" class="btn btn-info btn-lg btn-block" (click)="addCSQuestion()">
                        {{ submit }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
          </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </div>
</div>
