<style>
  .header button {
    position: relative;
    left: 210px;
  }
</style>

<div class="wrapper">
  <div class="main-content-wrapper">
<div class="main container">
  <!-- header -->
  <div class="header mt-3 mb-2 row">
    <div class="col-md-6">
      <h3 class="text-secondary ml-2">Mark Test</h3>
    </div>
    <div class="col-md-6">
      <button class="btn btn-outline-info" (click)="openSendFeedback()">
        Send Feedback
      </button>
    </div>
  </div>

  <div class="std-info mt-3">
    <!-- test info -->
    <div class="row">
      <div class="col-md-10">
        <div class="test-info" style="font-size: 19px">
          <p class="text-secondary">
            Exam Title : <span class="text-info">Linkers</span>
          </p>
          <p class="text-secondary">
            Course name : <span class="text-info">Operating Systems</span>
          </p>

          <p class="text-secondary">
            Number of Test Takers: <span class="text-info">70</span>
          </p>
        </div>
      </div>
    </div>

    <!-- marking option -->

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-4">
      <li [ngbNavItem]="1">
        <a ngbNavLink><h6>Mark By Question</h6></a>
        <ng-template ngbNavContent>
          <div class="main-table row">
            <div class="col-md-10">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Question Number</th>
                    <th scope="col">Question</th>
                    <th scope="col">Number of Responses</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ques of questions; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                      {{ ques.question }}
                    </td>
                    <td>{{ ques.responsesNum }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><h6>Mark by Person</h6></a>
        <ng-template ngbNavContent>
          <div class="main-form row">
            <div class="col-md-10"></div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </div>
</div>
  </div>
</div>
