<div class="modal-header">
  <h5 class="modal-title text-center" id="modal-basic-title">
    Set Exam Instruction
  </h5>
  <h5
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </h5>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label class="text-info">Select Exam Title</label>
      <select
        class="form-control form-control-lg"
        id="exampleFormControlSelect1"
      >
        <option selected>Select Exam</option>
        <option>Java</option>
        <option>Python</option>
        <option>Scala</option>
        <option>C++</option>
        <option>C#</option>
      </select>
    </div>
    <div class="form-group">
      <label class="text-info">Exam Instruction</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary mr-3"
    (click)="activeModal.dismiss('Cross click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close('Save click')"
  >
    Save
  </button>
</div>
