<div class="modal-header">
  <h5 class="modal-title text-center text-info" id="modal-basic-title">
    Add Administrator
  </h5>
  <h5
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </h5>
</div>

<div class="modal-body">
  <div class="mb-3">
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      {{message}}
     </div>
     <div class="alert alert-success" role="alert" *ngIf="isSuccess">
      {{message}}
     </div>
    <form name="f" [formGroup]="userForm" class="form">
      <label for="first_name">First Name</label>
        <input name="name" class="form-control"  formControlName="first_name" placeholder="Enter First Name" type="name" required>
        <br>
      <label for="last_name">Last Name</label>
      <input name="name" class="form-control"   formControlName="last_name" placeholder="Enter Last Name" type="name" required>
      <br>
    <label for="email">Email</label>
    <input name="email" class="form-control"   formControlName="email" placeholder="Enter email" type="name" email required>
    <br>
</form>
<hr>
<div class="form-group">
  <label for="exampleFormControlSelect1">Admin Role</label><br>
    <input type="radio" class="radio" name="userRole" [(ngModel)]="userRole" value="1" /> Super Admin &nbsp;&nbsp;&nbsp;&nbsp;
   <input type="radio" class="radio" name="userRole" [(ngModel)]="userRole" value="2" /> Admin 
</div>
    </div>
  </div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="activeModal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
      </div>