.modal-header #modal-basic-title {
  position: relative;
  left: 150px;
}

.modal-body {
  position: relative;
}

.form-group label {
  font-size: 20px;
  font-weight: bold;
}

.time label {
  font-size: 20px;
  font-weight: bold;
}
