

.d-inline-block {
  float: right;
}

.ques {
  border: 2px solid lightgray;
  background-color: white;
  padding: 30px;
  margin-left: 180px;
}

.ques p {
  font-size: 20px;
  font-weight: bold;
}

.form-row {
  float: right;
}

.wrapper{
  max-width:100%;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 2em;

}

@media screen and (max-width: 800px) {
  .main-content-wrapper{
    max-width: 100%;
  }
}

.main-content-wrapper{
  margin-left: 220px; 
}


.table{
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: block;
	}
.cont{
  background-color:rgb(255, 255, 255);
  margin-bottom: 5px;
  padding: 2em;
}

.hu h4{
  background-color: teal;
  color: whitesmoke !important;
  border-top-left-radius:10px ;
  border-top-right-radius:7px ;
  padding: 0.5em;
}
.emptyCann{
  padding-left: 23.5em;
}